:root {
	--dark: #1b1c20;
	--darker: #17181b;

	--green: #8bc040;
	--red: #de5f66;
}

body {
	font-family: sans-serif;
	background: var(--dark);
	color: #fff;
	font-size: 1.4rem;
}

table thead {
	font-size: 0.9rem;
	background: var(--darker);
	text-transform: uppercase;
}

.green {
	color: var(--green);
}

.red {
	color: var(--red);
}